* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.logo {
  margin-top: 10px;
  margin-left: 70px;
}

.name {
  text-align: center;
}

h1 {
  font-size: 30px;
  text-shadow: 1px 1px 3px black;
}

.logo>img {
  width: 100px;
  height: 100px;
}

.main {
  margin: 10px 5%;
  border: 1px solid #7a6ac68f;
}

.search {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

#search {
  min-width: 300px;
  height: 40px;
  margin: 10px;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid #7a6ac68f;
}

button {
  max-width: 90px;
  background: #030575bd;
  border: none;
  padding: 5px;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  height: 35px;
  font-weight: bold;
  font-size: 20px;
}

.btn {
  width: 90px !important;
  margin-top: 15px !important;
  margin-right: 5px;
}

.active {
  background-color: #913535;
  transform: scale(1.1);
}

table {
  margin-top: 10px;
  font-size: 25px;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid black;
}

th {
  background-color: #913535;
}

tr:nth-child(even) {
  background-color: #dfd9d9;
}